@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* DARK MODE PAGINATION ONLY */
.dark nav[role="navigation"] span,
.dark nav[role="navigation"] a {
    color: white !important;
}

.dark .prose {
    color: #d1d5db !important;
}

.dark .prose strong,
.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
    color: white !important;
}

.dark .prose p,
.dark .prose li,
.dark .prose span {
    color: #d1d5db !important;
}

.dark .prose a {
    color: #60a5fa !important;
}

.dark .bg-white {
    background-color: #111827 !important;
}

.dark .bg-gray-50 {
    background-color: #0f172a !important;
}
